*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; font-family: "Edu QLD Hand", cursive;
}

body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: rgb(69, 0, 76);
}
 
.heart {
    height: 300px;
    width: 300px;
    background-color: #ff7ba2;
    position: relative;
    transform: rotate(-45deg);
    box-shadow: 10px 10px 90px #ff7ba2;
    animation: heart 0.6s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
}

@keyframes heart {
    0% {
        transform: rotate(-45deg) scale(1.07);
    }

    80% {
        transform: rotate(-45deg) scale(1.0);
    }

    100% {
        transform: rotate(-45) scale(0.8);
    }
    
}

.heart p { 
    position: absolute;
    z-index: 999;
    width: 100%;
    transform: rotate(45deg) translate(0, -50px);
}

.heart::before {
    content: "";
    position: absolute;
    height: 300px;
    width: 300px;
    background-color: #ff7ba2;
    top: -50%;
    border-radius: 300px;
    box-shadow: -10px -10px 90px #ff7ba2;

}

.heart::after { 
    content: "";
    position: absolute;
    height: 300px;
    width: 300px;
    background-color: #ff7ba2;
    right: -50%;
    border-radius: 300px;
    box-shadow: 10px 10px 90px #ff7ba2;

    }